.title, 
.subtitle {
    max-width: 25rem;
}

.title {
    font-size: 4.375rem;
    line-height: 84px;
    letter-spacing: .2px;
    font-weight: 400;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 33.2px;
    font-weight: 300;
}